<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157788674817-om0gvudc0spieepjo0ubgcjrov46l7t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157788674817-om0gvudc0spieepjo0ubgcjrov46l7t3</string>
	<key>API_KEY</key>
	<string>AIzaSyBl_Ah5QfRC_YGN2i1tqyJgfquNJTfqvSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>157788674817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postHog</string>
	<key>PROJECT_ID</key>
	<string>crashapp-27531</string>
	<key>STORAGE_BUCKET</key>
	<string>crashapp-27531.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157788674817:ios:c4523fa7ba29566c6fd900</string>
</dict>
</plist>